<h1 class="ui header">
  <i aria-hidden="true" class="drivers license outline icon"></i> Super Secret
  Treasure Finder
</h1>
<p></p>
<p></p>
<p>
  Whilst the ID token contains information about you, as a user. We have also
  been given an AccessToken. You may want to look for some treasure in here:<br /><br /><code
    >{{ accessToken }}</code
  >
</p>
<p><a href="https://jwt.ms">JWT Decoder</a></p>

<p> or maybe see what happens when you enter a string below:</p>
<FORM>
  <INPUT TYPE="Text">
  <P>
  <INPUT TYPE="Submit" Value="Submit" onclick="getArrayMutations(input)">
</FORM>
