<h1 class="ui header">
  <i aria-hidden="true" class="drivers license outline icon"></i> My ID Token
  Claims
</h1>
<p>
  Your ID Token was obtained during the
  <a href="https://developer.okta.com/docs/guides/implement-auth-code-pkce"
    >PKCE Flow</a
  >
  and is now stored locally.
</p>
<p></p>
<table class="ui table">
  <thead>
    <tr>
      <th>Claim</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let claim of claims">
      <td>{{ claim.claim }}</td>
      <td id="claim-{{ claim.claim }}">{{ claim.value }}</td>
    </tr>
  </tbody>
</table>
