<h1 class="ui header">Custom Login Page with Sign In Widget</h1>
<div *ngIf="!isAuthenticated">
  <p>This is an Okta Demo</p>
  <p>This app uses the following features</p>
  <ul>
    <li>Angular library for Okta</li>
    <li>Okta Sign-In Widget</li>
    <li>PKCE Flow</li>
  </ul>

  <p>
    You are seeing this page because you are not logged in. <br />Once you have logged in you will be redirected through your authorization server (the issuer defined in config) to create a session for Single-Sign-On (SSO).
    After this you will be redirected back to the application with an ID Token and Access Token. Tokens are stored locally so they can be used later in the app.
  </p>
  <button id="login-button" class="ui primary button" role="button" routerLink="/login">Login</button>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>
  <p>
    You have successfully authenticated using Okta and have been redirected back to the app.  An access token and ID Token are now stored locally. <br />
    Visit the <a href="/profile">My Profile</a> page to take a look inside the ID Token.
    <br />Visit the <a href="/treasure">Treasure Hunt!</a> page to see if you can find some hidden secrets.
  </p>
  <h3>String Permutations</h3>
  <form [formGroup]="form" (ngSubmit)="submit()" class="mt-3">
    <div class="form-group">
      <label>Input String</label>
      <input placeholder="Enter Something">
    </div>
    <button [disabled]="form.invalid || form.disabled" class="btn btn-primary">Do it!</button>
  </form>
</div>
